section {
    display: table;
}

section aside {
    float: left;
    display: block;
    position: fixed;
    height: 100%;
    overflow: scroll;
    width: 320px;
}

section div#split-bar {
    margin-left: 320px;
    position: fixed;
    width: 6px;
    height: 100%;
    cursor: col-resize;
    background: black;
}

section article {
    margin-left: 326px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #2b2b2b;
    color: #bababa;
}

section aside nav {
    padding: 20px;
    overflow: scroll;
}

section aside nav h3 {
    color: white;
}

section aside ul {
    list-style-type: none;
    padding-left: 10px;
}

section aside.sidebar-dark {
    background-color: #3c3f41;
}

section aside li {
    /*padding: 0;*/
    /*margin: 0;*/
}

li a.package-name {
    color: gray;
}

section aside span.class-name {
    color: lightgray;
}

section aside span.class-name:hover {
    color: whitesmoke;
}

section aside span.member-name {
    color: #9473a6;
}

section aside span.member-name:hover {
    color: #bf96d1;
}

section aside span.method-name {
    color: #f9c26b;
}

section aside span.method-name:hover {
    color: #ffe089;
}

h5.class-def {
    color: #769AC8;
}

h5.interface-def {
    color: #34ce57;
}

.annotation-use {
    color: #FFC433;
}

.member-name {
    color: #9473a6;
}

.method-name {
    color: #f9c26b;
}

section aside a.package-name {
    color: gray;
}


span.reserved-keyword {
    color: #c77532
}

span.type-keyword {
    color: #769AC8;
}

.java-def {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

span.full-path {
    font-size: 12px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-style: italic;
}



.clearfix {
    overflow: auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

ul.enum-values {
    list-style-type: none;
    color: #9473a6;
}

.generic-symbol {
    color: lightgray;
}

.animation-focus {
    animation: colorchange 1s;
}

pre {
    padding: 10px;
}